<div class="row">
    <div class="alert-success" ng-show="updateGlobalConfigResult">
        <div>
            <p>{{updateGlobalConfigResult}}</p>
        </div>
    </div>
</div>

<table class="table table-condensed table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th colspan="5" class="text-center bg-primary">Currency Config</th>
        </tr>
        <tr>
            <th colspan="1">Symbol</th>
            <th colspan="1">Difference to Avg Spread Pct</th>
            <th colspan="1">Difference to Prev Bid Pct</th>
            <th colspan="1">Difference to Prev Ask Pct</th>
        </tr>
    </thead>
    <!-- This can be added to the tbody repeat below to create a highlight-on-click: ng-class="{'highlightSelectedRow':$index == selectedOrderRow}" -->
    <tbody data-ng-repeat='item in aggrconfig.currencyconfig | orderBy: "symbol"' class="list">
        <tr>
            <td>
                <span e-name="symbol" e-form="rowform" e-disabled>
                    {{ item.symbol || 'empty' }}
                    <img ng-src="{{getFlagForFirstCurrency(item.symbol)}}">
                    <img ng-src="{{getFlagForSecondCurrency(item.symbol)}}">
                </span>
            </td>
            <td>
                <span editable-number="item.pctLeewayAllowedSpread" e-name="pctLeewayAllowedSpread" e-form="rowform" e-min="0" e-required>
                    {{ item.pctLeewayAllowedSpread || 'empty' }}
                </span>
            </td>
            <td>
                <span editable-number="item.pctLeewayToPreviousBid" e-name="pctLeewayToPreviousBid" e-form="rowform" e-min="0" e-required>
                    {{ item.pctLeewayToPreviousBid || 'empty' }}
                </span>
            </td>
            <td>
                <span editable-number="item.pctLeewayToPreviousAsk" e-name="pctLeewayToPreviousAsk" e-form="rowform" e-min="0" e-required>
                    {{ item.pctLeewayToPreviousAsk || 'empty' }}
                </span>
            </td>
            <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="saveCurrencyConfig($data, item.symbol)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                        save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                        cancel
                    </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                    <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>