<!-- 
$scope.runtimestats is refreshed every few seconds. 
-->

{{runtimestats}}
<div data-ng-repeat="item in runtimestats | filter:{ _id: '1' }:true track by $index" class="list">
    <table class="table table-striped table-bordered table table-condensed table-responsive">
        <thead>
            <tr>
                <th colspan="2" class="text-center bg-primary">Total Stats</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Number of Events</td>
                <td class="span2">{{item.totalNumberOfEvents}}</td>
            </tr>
            <tr>
                <td>Total Number of Filtered Events</td>
                <td class="span2">{{item.totalNumberOfFilteredEvents}}</td>
            </tr>
            <tr>
                <td>Number per Filtered Reason</td>
                <td class="span2">{{item.numberPerFilteredReason}}</td>
            </tr>
            <tr>
                <td>Max Seconds between Quote Time and Processed Time</td>
                <td class="span2">{{item.maxSecondsBetweenQuoteTimeAndProcessedTime}}</td>
            </tr>
            <tr>
                <td>Min Seconds between Quote Time and Processed Time</td>
                <td class="span2">{{item.minSecondsBetweenQuoteTimeAndProcessedTime}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div data-ng-repeat="item in runtimestats | filter:{ _id: '!1' }:true track by $index" class="list">
    <table class="table table-striped table-bordered table table-condensed table-responsive">
        <thead>
            <tr>
                <th colspan="2" class="text-center bg-primary">Stats for currency {{item._id}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Number of Events</td>
                <td class="span2">{{item.totalNumberOfEvents}}</td>
            </tr>
            <tr>
                <td>Total Number of Filtered Events</td>
                <td class="span2">{{item.totalNumberOfFilteredEvents}}</td>
            </tr>
            <tr>
                <td>Number per Filtered Reason</td>
                <td class="span2">{{item.numberPerFilteredReason}}</td>
            </tr>
            <tr>
                <td>Max Seconds between Quote Time and Processed Time</td>
                <td class="span2">{{item.maxSecondsBetweenQuoteTimeAndProcessedTime}}</td>
            </tr>
            <tr>
                <td>Min Seconds between Quote Time and Processed Time</td>
                <td class="span2">{{item.minSecondsBetweenQuoteTimeAndProcessedTime}}</td>
            </tr>
        </tbody>
    </table>
</div>
